.menubar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menuitem {
  padding-right: 0.5rem;
}

.input-component {
  margin-bottom: 0.5rem;
}

.input-component input {
  margin-left: 0.5rem;
}

.footer-component {
  padding-top: 1rem;
}

.anecdote {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-line {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.notification {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border: 1px solid black;
  text-indent: 1rem;
}